{% extends 'base.html' %}

{% load static %}

{% block title%}Spending History{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/cover.css' %}" type="text/css">
{% endblock %}

{% block body %}
<main role="main" class="inner cover">

    {% if empty %}
    <p class="ntsValue">No spending history!</p>
    {% else %}
    <div class="container">
        <p>Current Spending:</p>
        <p class="ntsValue">${{currentGoal.totalSpending}}</p>
    </div>

    <div class="table-wraper-scroll-y my-custom-scrollbar">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for i in currentSpending %}
                <tr>
                    <td>{{ i.item }}</td>
                    <td>${{ i.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</main>


<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" href="{% url 'currentGoal'%}">Home</a>
    <a class="nav-link active" href="#">Spending History</a>
    <a class="nav-link" href="{% url 'goalHistory' %}">Past Goals</a>
    <a class="nav-link" href="{% url 'newGoal' %}">New Goal</a>
</nav>
{% endblock %}