{% extends 'base.html' %}

{% load static %}

{% block title%}New Goal{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/cover.css' %}" type="text/css">
{% endblock %}

{% block body %}
<main role="main" class="inner cover">
    <form action="{% url 'addGoal' %}" method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}

        <button type="Submit" class="btn btn-secondary btn-lg">Create Goal</button>
    </form>
    <br>
</main>


<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" href="{% url 'currentGoal'%}">Home</a>
    <a class="nav-link" href="{% url 'spendingHistory' %}">Spending History</a>
    <a class="nav-link" href="{% url 'goalHistory' %}">Past Goals</a>
    <a class="nav-link active" href="#">New Goal</a>
</nav>
{% endblock %}